ion-header {
    display: flex;
    align-items: center;
    box-shadow: none;
    justify-content: space-between;
    margin-top: 40px;
}

ion-header img {
    width: 40px;
    height: 40px;
    border-radius: 20%;
    margin-right: 5px;
}

ion-header h1 {
    font-size: 25px;
    font-weight: 600;
    color: #000;
    margin-left: 5px;
}

.valor {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

ion-icon {
    width: 30px;
    height: 30px;
    color: white;
}

.card1 {
    height: 140px;
    border-radius: 20px;
    background-color: rgb(20, 111, 230);

}

.texto {
    color: white;

}

.subtexto {
    color: white;
    font-weight: 50;
    margin-bottom: 10px;
}

ion-progress-bar {
    margin-top: 10px;
    border-radius: 20px;
    background-color: white;
    width: 230px;
}

.progresso {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ion-card-title {
    font-weight: 500;
    font-size: 30px;
}

.card2 {
    border: none;
    border-radius: 30px;
    height: 230px;

}

ion-item {
    box-shadow: none;
    border: none;
}

ion-item img {
    border-radius: 20%;
}

.see {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.see p {
    font-size: 8px;
    color: gray;
}

.see a {
    text-decoration: none;
    font-size: 10px;
}

.subir {
    margin-bottom: 170px;
}

.imgs_card2 {
    width: 40px;
    height: 40px;
    border-radius: 20%;
    margin-right: 5px;
}

.info {
    display: flex;
    align-items: center;
    gap: 30px;
}

.benga {
    margin-top: 10px;
    color: white;
}

p {
    width: 100px;
}

.desc {
    font-size: 8px;
    color: gray;
    width: 100px;
}

ion-item {
    width: 400px;
}

ion-card-content {
    margin: 0px;
}

.benga {
    width: 100%;
}

.abrangente {
    display: flex;
    align-items: center;
}

ion-col {
    background-color: rgb(20, 111, 230);
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
    height: 70px;
    width: 70px;
    border-radius: 20%;
}

.tee{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.abrangente{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    gap: 10px;
}
.box1{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: rgb(20, 111, 230);
    border-radius: 10%;
}

.box2{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: rgb(20, 230, 178);
    border-radius: 10%;
}

.box3{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: rgb(255, 233, 36);
    border-radius: 10%;
}

.box4{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: salmon;
    border-radius: 10%;
}

h2{
    font-size: 12px;
    margin: 0px;
    color: white;
}

.iconbtns {
    margin-top: 3px;
}

.setenta{
    display: flex;
    align-items: center;
    justify-content: space-between;
}